.btn-share {
    margin-bottom: 20px;
}

body {
    background-color: black;
    color: aliceblue;
    font-family: sans-serif;
}

.contenedor {
    border: 1px;
    border-color: aliceblue;
}

#contenedor1 {
    float: left;
    
}

#contenedor2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedor3 {
    float: right;
    font-size: 12px;
}

button {
    background-image: linear-gradient(to right, yellow, yellowgreen);
}

.crear {
    height: 50px;
    width: 200px;
    border-radius: 10px;
}

.mas {
    height: 25px;
    width: 50px;
    border-radius: 6px;
    margin-left: 50%;
}

.buscador {
    background-color: black;
    color: aliceblue;
}

.menu {
    float: right;
    margin-left: 50px;
}